            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');
            @tailwind base;
            @tailwind components;
            @tailwind utilities;
            @import "@splidejs/splide/dist/css/splide-core.min.css";
            * {
                font-family: 'Work Sans', sans-serif;
            }
            
            .poppins {
                font-family: 'poppins', sans-serif;
            }
            
            .world_bg {
                background: url('/img/world.png');
                background-size: 768px;
                padding: 5em 0;
                background-repeat: no-repeat;
                background-position: right;
                padding-bottom: 10em;
            }
            
            .splide__arrows {
                position: absolute;
                bottom: -7em;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
            }
            
            .splide__arrow--prev svg {
                transform: scaleX(-1);
            }
            
            .splide__arrow {
                background: white;
                transition: .25s ease-in-out;
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                z-index: 1;
            }
            
            .bg-green.h-50 {
                height: 38em;
                .splide__track {
                    overflow-y: unset;
                }
            }
            
            .splide__arrow svg {
                fill: #FFD600;
                height: 1.2em;
                width: 1.2em;
            }
            
            .splide__arrow:hover {
                background: linear-gradient(110.24deg, #448b42 36.53%, #05bd01 115.27%);
                transform: scale(1.1)
            }
            
            .splide__slide.is-active.is-visible {
                .up {
                    transform: translateY(-24px);
                }
            }
            
            .transp_bg {
                background-image: url('/img/girl_blue.png'), linear-gradient(112.07deg, #448B42 38.19%, rgba(5, 189, 1, 0.19) 91.14%);
                ;
                background-size: cover;
                padding: 7em 0;
                background-repeat: no-repeat;
                background-blend-mode: soft-light;
                // background: linear-gradient(112.07deg, #448B42 38.19%, rgba(5, 189, 1, 0.19) 91.14%);
                // background-color: linear-gradient(112.07deg, #448B42 38.19%, rgba(5, 189, 1, 0.19) 91.14%);
            }
            
            .curved_green_bg {
                background: url('/img/curved_green_bg.png');
                background-size: 100% 55em;
                padding: 5em 0;
                background-repeat: no-repeat;
                padding-bottom: 8em;
            }
            
            .bg_btn {
                background: linear-gradient(110.24deg, #448b42 36.53%, #05bd01 115.27%);
            }
            
            .menu_btn {
                background-image: url('/img/menu_btn.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
            }
            
            .close_btn {
                background-image: url('/img/close_btn.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
            }
            
            .wrapper {
                max-width: 1334px;
                margin: 0 auto;
                width: 90%;
            }
            
            footer {
                background: url('/img/footer_bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #032b03c6;
                background-blend-mode: darken;
            }
            
            .breadcrumb {
                height: 20em;
                background: url('/img/breadcrumb_bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #054f05bd;
                background-blend-mode: darken;
            }