@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Work Sans', sans-serif;
}

.poppins {
    font-family: 'poppins', sans-serif;
}

.world_bg {
    background: url('/img/world.png');
    background-size: 768px;
    padding: 5em 0;
    background-repeat: no-repeat;
    background-position: right;
}

.bg_btn {
    background: linear-gradient(110.24deg, #448b42 36.53%, #05bd01 115.27%);
}

.menu_btn {
    background-image: url('/img/menu_btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.close_btn {
    background-image: url('/img/close_btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.wrapper {
    max-width: 1334px;
    margin: 0 auto;
    width: 90%;
}

footer {
    background: url('/img/footer_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #032b03c6;
    background-blend-mode: darken;
}

.breadcrumb {
    height: 20em;
    background: url('/img/breadcrumb_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #054f05bd;
    background-blend-mode: darken;
}